<div class="container">
  <div class="signup-container">
    <form action="" class="login-form">
      <h1 class="signup-title mb-2">Registre-se</h1>

      <div class="form-group-row mb-1">
        <input type="text" name="username" id="username" placeholder="Insira o seu nome de usuário">
      </div>

      <div class="mb-1">
        <input type="email" name="user" id="user" placeholder="Insira o seu email">
      </div>

      <div>
        <input type="email" name="user" id="user" placeholder="Insira a sua senha">
      </div>

      <div class="button mt-15">
        <button class="button-back mr-1" (click)="backAuth()">Voltar</button>
        <button class="button-send">Enviar</button>
      </div>

    </form>
  </div>
</div>
