$primary-color: #3477db;
$secondary-color: #3498db;

$background-color: #ecf0f1;


$accept-color: #2ecc71;
$error-color: #e74c3c;


$primary-white: #ffffff;


$button-send-primary-color: #3477db;
$button-send-secondary-color: #2ecc71;

$button-back-primary-color: #999292;



$border-button-back-primary-color: #ffffff;

