<div class="container">
  <div class="signup-container">
    <form [formGroup]="sendPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
      <h1 class="signup-title mb-2">Resetar senha</h1>

      <div class="form-group-row mb-1">
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Insira o seu e-mail">
      </div>

      <div class="button mt-15">
        <button type="button" class="button-back mr-1" routerLink="/auth">Voltar</button>
        <button type="submit" class="button-send" [disabled]="sendPasswordForm.invalid">Enviar</button>
      </div>

      <div class="form-group-row mt-05">
          <a routerLink="/auth/reset-password">
            Quero apenas alterar a minha senha.
          </a>
      </div>

    </form>
  </div>
</div>
